/*
.add-product-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-product-form {
    border: 1px solid black;
    display: flex;
}

.image-section {
    border: 1px solid black;
    width: 40%;
    overflow: hidden; !* Ẩn phần thừa của hình ảnh *!
}

.image-section img {
    width: 100%; !* Tạo hình ảnh bự cố định *!
    height: auto; !* Duy trì tỷ lệ khung hình *!
    display: block; !* Loại bỏ dấu cách dưới hình ảnh *!
}

.product-details-section {
    border: 1px solid black;
    height: 100%;
    flex-direction: column;
    display: flex;
    width: 60%;
}

.product-details-section label {
    margin-bottom: 5px;
}

.product-details-section textarea {
    resize: vertical;
    margin-bottom: 10px;
}

!* Tùy chỉnh nút Clear Images và Selected Images *!
.image-section button {
    margin-top: 10px;
}

.image-section ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.image-section ul li {
    margin-bottom: 5px;
}

.image-section ul li img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
}
*/
